.cardRecord{
    display: block;
}
.record{
    width: 100%;
    padding: 0 30px 0 30px;
    display: none;
}

.encabezado{
    width: 100%;
    height: 100px;
    display: flex;
}

.part1_1{
    width: 33%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .btnRegresar{
        font-size: 50px;
        font-weight: bolder;
        color: white;
        background-color: #152953;
        border: none;
    }
}

.part1_1:hover > .btnRegresar{
    color: rgba(255, 255, 255, 0.7);
}

.part1_2{
    width: 53%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .textRecords{
        font-family: 'Baloo Bhai 2', cursive;
        font-size: 32px;
        font-weight: bold;
        color: white;
        margin: 0;
        text-align: center;
    }
}

.part1_3{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-top: 30px;
    margin-right: 20px;

    .btnCerrar{
        font-size: 24px;
    }
}

.cardRecord{
    width: 100%;
    height: 215px;
    background-color: #243A69;
    border-radius: 30px;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;

    .textGamesTitle{
        height: 60px;
        display: flex;
        align-items: center;

        .textRecord_h4 {
            font-family: 'Baloo Bhai 2', cursive;
            font-size: 40px;
            font-weight: 400;
            color: white;
            margin: 0;
            text-align: center;
            width: 100%;
        }
    }
    .textGames{
        height: 60px;
        display: flex;
        align-items: center;

        .iconM{
            width: 40px;
            height: 60px;
            color: #D3D3D3;
        }

        .textRecord_h5{
            width: 70%;
            font-family: 'Baloo Bhai 2', cursive;
            font-size: 32px;
            font-weight: 400;
            color: #FFDB58;
            margin: 0;
        }

        .textRecord_h5N{
            width: 70%;
            font-family: 'Baloo Bhai 2', cursive;
            font-size: 32px;
            font-weight: 400;
            color: #ffffff;
            margin: 0;
        }

        .pointGamesWon_h6{
            font-family: 'Baloo Bhai 2', cursive;
            font-size: 32px;
            font-weight: 400;
            color: #FFDB58;
            margin: 0;
            justify-content: end;
        }
    }
}